/* BASE */

html, body {
  color: #EEEEEE;
  background-color: #3F3F3F;
  font-family: 'Inconsolata', sans-serif;
  height: 100%;
}

body, h2, h3, h4, h6, p {
  margin: 0;
}

a {
  color: inherit;
  font-style: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

/* HEADER */

.blink {
  animation: blink 0.3s infinite;
}

.contact-info {
  background-color: #1B1B1B;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-style: unset;
  justify-content: center;
  height: 2em;
  padding: 1em 0;
  z-index: 999;
  text-align: center;
  width: 100%;
}

.email {
  font-weight: 800;
}

.email::after {
  content: "";
}

.email:hover {
  color: #FD084A;
}

.header {
  align-items: center;
  background: url(./images/hideout.svg);
  background-color: #FFDEED;
  background-size: 5em;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  padding: 16px;
}

.header-title {
  font-size: 48px;
  font-weight: 800;
  margin: 0.4em 0; 
  text-align: center;
}

.header-title-container {
  align-items: center;
  background-color: #363131;
  display: flex;
  justify-content: center;
  padding: 8px;
  width: 480px;
}

line:nth-child(2) {
	animation-name: less-than-one;
}

line:nth-child(3) {
	animation-name: less-than-two;
}

line:nth-child(4) {
	animation-name: backslash;
}

line:nth-child(5) {
	animation-name: greater-than-one;
}

line:nth-child(6) {
	animation-name: greater-than-two;
}

.social-network {
  height: 60px;
  margin: 0 16px;
}

.social-networks-container {
  background-color: #363131;
  display: flex;
  padding: 16px;
}

.subtitle {
  background-color: #363131;
  margin: 16px 0;
  height: 50px;
  width: 500px;
  padding: 16px;
  stroke: #FBFBFB;
	transform: translatez(0);
}

.subtitle line {
  animation-direction: alternate;
  animation-duration: 1s;
  animation-fill-mode: forwards;
	animation-timing-function: ease-out;
	stroke-width: 10px;
	transform-origin: 50% 50%;
}

.subtitle text {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-name: text;
  animation-timing-function: ease-in;
  fill: #FBFBFB;
  font-size: 30px;
  opacity: 0;
  width: 100%;
}

@keyframes backslash {
	100% {
		transform: translatex(210px) skewx(-20deg);
	}
}

@keyframes blink{
  to { opacity: 0; }
}

@keyframes less-than-one {
	100% {
		transform: translatex(-200px) skewx(-30deg);
	}
}

@keyframes less-than-two {
	100% {
		transform: translatex(-200px) skewx(30deg);
	}
}

@keyframes greater-than-one {
	100% {
		transform: translatex(250px) skewx(30deg);
	}
}

@keyframes greater-than-two {
	100% {
		transform: translatex(250px) skewx(-30deg);
	}
}

@keyframes text {
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 519px) and (min-width: 300px) {
  .header-title {
    font-size: 38px;    
  } 

  .header-title-container {
    width: 280px;
  }
  
  .social-network {
    height: 30px;
    margin: 0 16px;
  }
  
  .social-networks-container {
    padding: 8px;
  }

  .subtitle {
    height: 30px;
    padding: 8px;
    width: 290px;
  }
}

@media screen and (max-width: 299px) {
  .header-title {
    font-size: 36px;    
  } 

  .header-title-container {
    width: 250px;
  }

  .social-network {
    height: 25px;
    margin: 0 16px;
    width: 60px;
  }

  .subtitle {
    height: 25px;
    padding: 8px;
    width: 250px;
  }
}

/* BODY */

.comment-code {
  color: #4E7836;
  margin: 1em 0 1em 1em;
}

.container {
  height: 100%;
}

.content {
  background-color: #1B1B1B;
  font-size: 20px;
  padding: 2em;
  width: 50%;
}

.death-by-bullet-points {
  margin: 0;
  padding: 0;
}

.death-by-bullet-points .lesser {
  margin: 1em;
  padding: 0 1em;
}

.education {
  background: url(./images/overlapping-hexagons.svg);
  background-color: #897FBA;
  background-size: 160px;
}

.fun-facts {
  background: url(./images/leaf.svg);
  background-color: #A3C4BC;
  background-size: 200px;
}

.interests {
  background: url(./images/endless-clouds.svg);
  background-color: #BF211E;
  background-size: 260px;
}

.job-responsibilities {
  list-style-type: square;
  margin: 0.5em;
}

.lesser::before {
  content: "> ";
}

.link {
  color: #FD084A;
  text-decoration: underline;
}

.main-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 2em;
}

.main-section:not(:last-of-type) {
  border-bottom: 4em #1B1B1B solid;
}

.main-section > .title, .content {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.23);
  z-index: 999;
}

.memes {
  background: url(./images/kiwi.svg);
  background-color: #8F6F40;
  background-size: 120px;
}

.memes-container, .memes-container>* {
  display: flex;
  justify-content: center;
  height: 70vh;
  width: 100%;
}

.skills {
  background: url(./images/hexagons.svg);
  background-color: #FC6042;
  background-size: 120px;
}

.subheading {
  margin: 1em 0;
}

.subheading.dates {
  color: #6F6F6F;
  font-size: 16px;
  margin-top: 0;
}

.subheading.location {
  color: #6F6F6F;
  font-size: 16px;
  margin-bottom: 0;
}

.subheading.uppercase {
  font-size: 20px;
  margin-top: 0;
  text-transform: uppercase;
}

.summary {
  background: url(./images/anchors-away.svg);
  background-color: #3D5A6C;
  background-size: 200px;
}

.summary .death-by-bullet-points::after {
  color: #4E7836;
  content: "*/";
}

.summary .death-by-bullet-points::before {
  color: #4E7836;
  content: "/*";
}

.title {
  background-color: #1B1B1B;
  color: #FBFBFB;
  display: inline-block;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 2px;
  margin: 1em 0;
  padding: 0.5em;
  text-align: center;
  text-transform: uppercase;
  width: auto;
}

.udemy {
  color: #EC5252;
}

.work-experience {
  background: url(./images/yyy.svg);
  background-color: #FCB941;
  background-size: 160px;
}

@media screen and (max-width: 800px) and (min-width: 520px) {
  .content {
    font-size: 16px;
    padding: 1em;
    width: 80%;
  }

  .memes-container, .memes-container>* {
    width: 100%;
  }
}

@media screen and (max-width: 519px) and (min-width: 300px) {
  .content {
    font-size: 16px;
    padding: 1em;
    width: 90%;
  }

  .title {
    font-size: 40px;
  }
  
  .summary {
    background-size: 100px;
  }
  
  .fun-facts {
    background-size: 100px;
  }
    
  .interests {
    background-size: 100px;
  }
  
  .memes {
    background-size: 100px;
  }
  
  .memes-container, .memes-container>* {
    width: inherit;
  }
  
  .work-experience {
    background-size: 100px;
  }
  
  .education {
    background-size: 70px;
  }
  
  .skills {
    background-size: 40px;
  }
}

@media screen and (max-width: 299px) {  
  .content {
    font-size: 14px;
    padding: 1em;
    width: 100%;
  }

  .title {
    font-size: 36px;
  }

  .summary {
    background-size: 40px;
  }
  
  .fun-facts {
    background-size: 40px;
  }
  
  .memes {
    background-size: 40px;
  }
  
  .interests {
    background-size: 40px;
  }
  
  .work-experience {
    background-size: 40px;
  }
  
  .education {
    background-size: 40px;
  }
  
  .skills {
    background-size: 40px;
  }
}