/* BASE */

html, body {
  color: #eeeeee;
  background-color: #3f3f3f;
  font-family: 'Inconsolata', sans-serif;
  height: 100%;
}

body, h2, h3, h4, h6, p {
  margin: 0;
}

a {
  color: inherit;
  font-style: inherit;
  text-decoration: none;
}

/* HEADER */

.email:hover {
  color: #fd084a;
}

.contact-info {
  background-color: #1b1b1b;
  font-size: 16px;
  font-style: unset;
  padding: 1em 0;
  text-align: center;
  width: 100%;
}

.title-container {
  align-items: center;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  width: 30em;
}

.header {
  align-items: center;
  background: url(./images/hideout.svg);
  background-color: #303030;
  background-size: 4em;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  padding: 1em;
}

/* BODY */

.container {
  height: 100%;
}

.resume {
  height: 100%;
}

/* PROGRESS BAR */

.node {
  background-color: #fbfbfb;
  border-radius: 100%;
  height: 2em;
  width: 2em;
}

.progress-bar {
  background: #1b1b1b;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 2px rgba(0, 0, 0, 0.24);
  bottom: 0;
  height: 48px;
  position: fixed;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 100%;
  z-index: 9999;
}

.progress-bar:hover {
  height: 100px;
}

.progress-bar ul {
  align-items: stretch;
  display: flex;
  justify-content: space-around;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.progress-bar ul>li {
  flex: 1;
}

.step {
  text-align: center;
}

.step:not(:last-child):before {
  background-color: #fbfbfb;
  content: '';
  height: 1em;
  width: 100%;
}

/* SUBTITLE */

line:nth-child(2) {
	animation-name: less-than-one;
}

line:nth-child(3) {
	animation-name: less-than-two;
}

line:nth-child(4) {
	animation-name: backslash;
}

line:nth-child(5) {
	animation-name: greater-than-one;
}

line:nth-child(6) {
	animation-name: greater-than-two;
}

.subtitle {
  background-color: #1b1b1b;
  margin: 1em 0;
  padding: 1em;
  stroke: #fbfbfb;
	transform: translatez(0);
}

.subtitle line {
  animation-direction: alternate;
  animation-duration: 1s;
  animation-fill-mode: forwards;
	animation-timing-function: ease-out;
	stroke-width: 10px;
	transform-origin: 50% 50%;
}

.subtitle text {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-name: text;
  animation-timing-function: ease-in;
  fill: #fbfbfb;
  font-size: 30px;
  opacity: 0;
}

@keyframes backslash {
	100% {
		transform: translatex(200px) skewx(-20deg);
	}
}

@keyframes less-than-one {
	100% {
		transform: translatex(-200px) skewx(-30deg);
	}
}

@keyframes less-than-two {
	100% {
		transform: translatex(-200px) skewx(30deg);
	}
}

@keyframes greater-than-one {
	100% {
		transform: translatex(240px) skewx(30deg);
	}
}

@keyframes greater-than-two {
	100% {
		transform: translatex(240px) skewx(-30deg);
	}
}

@keyframes text {
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* TITLE */

.blink {
  animation: blink 0.3s infinite;
}

.title {
  font-size: 48px;
  font-weight: 800;
  margin: 0.4em 0; 
  text-align: center;
}

@keyframes blink{
  to { opacity: 0; }
}